<div id="<%= dom_id patient %>">
  <p>
    <strong>Name:</strong>
    <%= patient.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= patient.age %>
  </p>

  <p>
    <strong>Contact number:</strong>
    <%= patient.contact_number %>
  </p>

  <p>
    <strong>Doctor:</strong>
    <%= patient.doctor_id %>
  </p>

</div>
