<!DOCTYPE html>
<html>
  <head>
    <title>ClinicApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
    <%= turbo_include_tags %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <% if user_signed_in? %>
        Logged in as: <%= current_user.email %> |
        <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
      <% end %>
    </nav>
    
    <%= yield %>
  </body>
</html>
